.navbar-nav .nav-link {
    color: rgba(255,255,255,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(255,0,0,.5) !important;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.myColor
{
    color:white;
}

body
{
    background-image: url(bg.jpg);
    backdrop-filter: blur(10px);
    color: #fffef0;
    font-family: 'Ubuntu', sans-serif;

.img-fluid {
    border-radius: 20px;
}

.text-description {
    color: #fffef0;
}

